body{
    background-color: rgb(156, 222, 168);
}

#name {
    text-decoration:underline;
}
 #nav{
     margin-bottom: 120px;
 }


.active{
        color: rgb(15, 15, 16)
    }

li{
        list-style: none;
    }

#bio {
    word-wrap:inherit;
    text-align: center;
}
#contact-form {
    margin-top: 50px;
    margin-bottom: 200px;
}

h1 {
    text-align: center;
    line-height: 100px;
  }
  
  h2 {
    /* Sets bottom margin to 0 */
    margin-bottom: 0;
  }
  
  h3 {
    /* Sets top margin to 0 */
    margin-top: 0;
  }
 #github {
    height: 2%;
    width: 2%;
 }
#linkedin{
    height: 2%;
    width: 2%;
}
#spotify{
    height: 2%;
    width: 2%;
}
#tumblr{
    height: 2%;
    width: 2%;
}

#project {
    height: 2%;
    width: 2%;
}

#footer {
    font-size: small;
    margin-right: 2085px;
    margin-top: 405px;
    text-shadow:1px 1px #0fb433;
}